@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&family=Salsa&display=swap');

@font-face {
  font-family: 'logofont';
  src: url('../fonts/Pieces of Eight.ttf') format('ttf');
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: var(--font-mono);
  background-image: linear-gradient(to bottom right, #00d8ff, #69ff00);
}

.welcome {
  margin-top: 160px;
  color: #e4e4e4;
  font-size: 360%;
  letter-spacing: 5px;
  margin-bottom: 15px;
  font-family: "Dancing Script", cursive;
}

.yen {
  color: #ffc656;
  font-size: 450%;
  letter-spacing: 5px;
}

.yenx {
  color: #ffc656;
  text-align: center;
  font-size: 450%;
  font-weight: 800;
  letter-spacing: 5px;
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
  margin-bottom: 120px;
  z-index: 15;
}

.pronightHeader {
  font-family: "slick";
  color: #ffc656;
  text-align: center;
  font-size: 450%;
  font-weight: 800;
  letter-spacing: 5px;
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
  margin-bottom: 0px;
  margin-top: 0px;
  z-index: 15;
}

.eventHeader {
  font-family: "Dancing Script", cursive;
  color: #8b5c00;
  text-align: center;
  font-size: 450%;
  margin-top: 20px;
  margin-bottom: -20px;
}

.eventHeaderx {
  font-family: "Dancing Script", cursive;
  color: #ffc656;
  text-align: center;
  font-size: 450%;
  margin-top: 70px;

}

.evHeader {
  font-family: "Dancing Script", cursive;
  color: #ffc656;
  text-align: center;
  font-size: 450%;

}


.legacy {
  color: #eadfff;
  padding-top: -10px;
  font-size: 180%;
  margin-top: 10px;
}

.quate {
  flex: 50%;
  font-family: "slick";
  color: #dfbb75;
  font-size: 450%;
  letter-spacing: 5px;
  text-shadow: 3px 4px 7px #080016;
  font-weight: 800;
  padding: 20px;
  line-height: 100px;
  z-index: 20;
}

.leaves {
  position: absolute;
  left: -10px;
  opacity: 0.95;
  transform: rotate(10deg);
}

.glimpse {
  color: #b1b1b1;
}

.year {
  color: #dbe4ff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  font-family: var(--font-mono);
  background: #09064c;
  margin-top: -2px;
  position: relative;
  /* z-index: -11; */
}

.evcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  font-family: var(--font-mono);
  background: #09064c;
  margin-top: -2px;
  position: relative;
  /* z-index: -11; */
}

.aboutUsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  font-family: var(--font-mono);
  background: #09064c;
  position: relative;
  color: white;
}

.about {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ab1,
.ab2 {
  flex: 50%;
}

.ab2 {
  padding: 20px;
}

.aboutYen {
  padding: 20px;
  margin-top: 20px;
  line-height: 26px;
  font-size: 120%;
}

.abtimg {
  width: 100%;
}

.abtushead {
  font-size: 400%;
  font-family: "Dancing Script", cursive;
  color: #dfbb75;
}

.abtushead2 {
  font-size: 200%;
  font-family: "Dancing Script", cursive;
  color: #dfbb75;
}

.wcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  font-family: var(--font-mono);
  background: #09064c;
  z-index: 10;
  margin-top: -2px;
  background: linear-gradient(#0a064c97, rgb(7, 4, 74)),
    url(https://sjce.ac.in/wp-content/uploads/2014/12/10869717_622521924558142_6218233922751105608_o.jpg);
}

.proxcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  font-family: var(--font-mono);
  margin-top: -2px;
  background: linear-gradient(#0a064cf9, rgb(7, 4, 74));
  background-position: center;
  background-size: cover;
}

.pcontainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  font-family: var(--font-mono);
  overflow: scroll;
  margin-top: -2px;
  justify-content: space-evenly;
}



.homepage {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: var(--font-mono);
  justify-content: center;
  background: #09064c;
  /* flex-wrap: wrap; */
  overflow: hidden;
}

.homeimg {
  flex: 50%;
  animation-duration: 6s;
  animation-name: homepage;
  animation-iteration-count: infinite;
  width: 700px !important;
  height: 500px !important;
  opacity: 0.9;
}

.homepageimg {
  margin: auto;
  position: absolute;
  width: 100vw;
  opacity: 0.2;
}

.mhomepageimg {
  margin: auto;
  position: absolute;
  width: 100vw;
  opacity: 0.2;
}

.homevideo {
  width: 100vw;
  filter: contrast(20px);
  filter: blur(2px);
}

.mhomevideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

@keyframes homepage {
  0% {
    filter: contrast(100%);
  }

  15% {
    filter: contrast(110%);
  }

  25% {
    filter: contrast(120%);
  }

  50% {
    filter: contrast(120%);
  }

  75% {
    filter: contrast(105%);
  }

  100% {
    filter: contrast(100%);
  }
}

.info {
  margin-top: 30px;
  /* letter-spacing: 1px; */
  line-height: 30px;
  color: rgb(255, 255, 255);
  font-size: 140%;
  padding: 25px;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  /* font-family: serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.download {
  z-index: 10;
  position: relative;
  font-size: 140%;
  color: white;
  font-family: "Dancing Script", cursive;
}

.dow {
  background: #6f42c1 !important;
  padding: 10px 25px;

  cursor: pointer;
  box-shadow: 5px 5px 25px -7px black;
  border-radius: 25px;
  animation-name: download;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
  transition-timing-function: linear;
}

.dowx {
  background: #6f42c1 !important;
  padding: 10px 25px;
  cursor: pointer;
  box-shadow: 5px 5px 25px -7px black;
  border-radius: 25px;
  color: white;
  top: 20px;
  animation-name: download;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
  transition-timing-function: linear;
}

.plant {
  position: absolute;
  margin-bottom: 200px;
  left: 50%;
  transform: translate(-50%);
  bottom: -205px;
  z-index: -100;
  opacity: 0.9;
  text-align: center;
}

.galImg1 {
  height: 400px;
  width: 400px;
  margin: 10px;
  /* margin-top: -80px; */
  transform: skewY(-20deg);
  box-shadow: 3px 1px 16px 3px black;
}

.exBtn {
  margin-top: 40px;
  margin-bottom: 40px;
}

.galImg {
  height: 400px;
  width: 400px;
  position: relative;
  /* transform: skewX(10deg); */
  margin: 10px;
  margin-top: -70px !important;
  box-shadow: 3px 1px 16px 3px black;
  animation-name: imgRoller;
  animation-duration: 3s;
  /* animation-delay: 3s;
  animation-iteration-count:infinite; 
   -moz-animation-iteration-count: infinite;
  transition-timing-function: ease-in-out; */
}

@keyframes imgRoller {
  0% {
    transform: skewY(0deg);
  }

  15% {
    transform: skewY(175deg);
  }

  100% {
    transform: skewY(180deg);
  }
}

.galImg3 {
  height: 400px;
  width: 400px;
  margin: 10px;
  transform: skewY(20deg);
  box-shadow: 3px 1px 46px -3px black;
  /* margin-top: 30px;
  margin-bottom: -80px; */
}

.imgContainer {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.galBgImg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 130vh;
  opacity: 0.2;
  background: linear-gradient(#0a064cc9, rgba(7, 4, 74, 0.833));
}

.eventContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: scroll;
  padding: 20px;
  background: #0a064c7b;
  width: 120vw;
  margin-left: -80px;
  transform: rotate(347deg);
}

.eventImg img {
  height: 300px;
  width: 350px;
  margin-inline: 5px;
}

@keyframes download {
  0% {
    padding: 10px 25px;
    font-size: 140%;
    background: #6f42c1;
  }

  50% {
    padding: 11px 30px;
    font-size: 160%;
    background: #6529d5;
  }

  100% {
    padding: 10px 25px;
    font-size: 140%;
    background: #6f42c1;
  }
}

.headtext {
  font-weight: 600;
  color: #f5a200;
  border-radius: 6px;
  font-family: "Dancing Script", cursive;
  font-size: 160%;
}

.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.icn {
  margin-bottom: -4px;
}

.loc,
.date {
  font-weight: 600;
  color: #eee5ff;
  padding: 15px 16px;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 2px solid rgb(252 196 85);
}

.loc {
  margin-right: 10px;
}

.nav {
  position: relative;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 15px;
  background: #09064c;
  position: fixed;
  box-shadow: 16px 1px 35px 2px black;
  height: 62px;
}

.menuicn {
  position: absolute;
  left: 10px;
  top: 18px;
  color: white;
}

.menu {
  display: none;
  width: 100vw;
  z-index: 10;
  justify-content: right;
  align-items: center;
  padding: 15px;
  background: #09064c;
  position: fixed;
  box-shadow: 3px 1px 16px 3px black;
  min-height: 62px;
  z-index: 10000;
}

.pronitecard1 {

  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  width: 360px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* box-shadow: -2px 4px 43px -5px; */
  margin-bottom: 40px;
  margin-inline: 20px;

  background: linear-gradient(rgba(0, 0, 0, 0.792), rgba(0, 0, 0, 0.906)),
    url(https://www.eventfaqs.com/uploads/entertainer-connect/artist/gallery/1-13-637388041204331462.jpeg);
  background-position: center;
  background-size: cover;
  transition: 0.3s;
  cursor: pointer;
}

.pronitecard1:hover {
  box-shadow: -2px 4px 43px -5px #100a78;
  transform: scale(1.1);
  /* margin: 70px; */
}

.pronitecard2 {
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  width: 360px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* box-shadow: -2px 4px 43px -5px; */
  margin-bottom: 40px;
  margin-inline: 20px;

  background: linear-gradient(rgba(0, 0, 0, 0.792), rgba(0, 0, 0, 0.701)),
    url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Sanjith_Hegde_Live_01.jpg/800px-Sanjith_Hegde_Live_01.jpg);
  background-position: center;
  background-size: cover;
  transition: 0.3s;
  cursor: pointer;
}

.pronitecard2:hover {
  box-shadow: -2px 4px 43px -5px #100a78;
  transform: scale(1.1);
  /* margin: 70px; */
}

.pronitecard3 {
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  width: 360px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* box-shadow: -2px 4px 43px -5px; */
  margin-bottom: 40px;
  margin-inline: 20px;

  background: linear-gradient(rgba(0, 0, 0, 0.792), rgba(0, 0, 0, 0.664)),
    url(https://i.guim.co.uk/img/media/3dd7a01c317b7a9d9c2e7f882e225fcd7a3b4dba/0_136_3000_1800/master/3000.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=5399102b19d2548733aa0c38a3293716);
  background-position: center;
  background-size: cover;
  transition: 0.3s;
  cursor: pointer;
}

.pronitecard3:hover {
  box-shadow: -2px 4px 43px -5px #100a78;
  transform: scale(1.1);
  /* margin: 70px; */
  margin-inline: 0px;
}

.knowMore {
  background: #09064c !important;
  color: white !important;
  padding: 5px 10px !important;
}

.knowMore:hover {
  background: #0f0a74;
  padding: 5px 10px;
}

.proimg {
  width: 322px;
  height: 270px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  object-fit: cover;
}

.proimg:hover {

  transform: scale(1.1);
}

.prodetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pd {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 100%;
  color: rgb(255, 255, 255);
  margin-right: 10px;
  border-radius: 10px;
  color: #b9b5ff;
}

.prohead {

  color: #dfbb75;
  padding: 20px 20px;
  font-family: "Dancing Script", cursive;
  font-size: 190%;
  margin-bottom: -20px;
}

.prodesc {
  /* padding: 10px 20px; */
  font-size: 120%;
  color: rgb(231, 231, 231);
  /* border-top: 1px solid white; */
  /* border-radius: 10px; */
  border-bottom: 1px solid #5e5e5e;
  padding-bottom: 15px;
  margin-top: 10px;
}

.navoption {
  padding: 5px 10px;
  font-size: 120%;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  margin-right: 15px;
  font-family: var(--font-mono);

}

.navoption:hover {
  color: #dfbb75;
  font-size: 140%;
  transition: 0.2s ease-in-out;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-4-27 12:13:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-horizontal-top
 * ----------------------------------------
 */


.navoptionx {
  padding: 5px 10px;
  font-size: 120%;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 32px;
  font-family: var(--font-mono);
  animation-name: nav;
  animation-duration: 0.5s;
  transition-timing-function: ease-in-out;
  margin-bottom: 2px;
}

.pronite_head {
  font-family: "slick";
  text-decoration: underline;
}

.viewmore {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white;
  cursor: pointer;
}

.explore {
  background: #6f42c1;
  padding: 8px 25px;
  cursor: pointer;
  box-shadow: 5px 5px 25px -7px black;
  border-radius: 25px;
  font-size: 150%;
  z-index: 13;
  color: white;
  font-family: "Dancing Script", cursive;
  animation-name: download;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;

  transition-timing-function: linear;
  margin-top: 20px;

  /* text-decoration: underline; */
}

.mr {
  margin-inline: 30px;
}



.eventContainerx {
  position: relative;
  top: 30px;
  padding: 30px 30px;
  background: #09064c;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.eventCard {
  position: relative;
  width: 350px;
  height: 500px;
  background: white;
  box-shadow: 5px 5px 25px -7px black;
  background: #d9d7ff;
  overflow: hidden;
  margin: 20px;
  border: 1px solid grey;
}

.eventBG {
  position: absolute;
  /* bottom: 1px; */
  top: 0px;
  opacity: 0.2;
  filter: blur(1px);

}

.eventImage {
  transform: rotate(-30deg);
  margin-top: 100px;
  width: 85% !important;
  height: 420px !important;
  background: linear-gradient(#0a064c84, rgb(7, 4, 74)) !important;
  z-index: -10;
}

.eventHeader {
  font-size: 390%;
  margin-inline: 0px;
  text-align: left;
  font-weight: 800;
}

.eventDetails {
  padding: 10px;
  color: #272727;
  margin: 20px;
  font-size: 130%;
  margin-inline: 0px;
  margin-bottom: 10px;
  font-weight: 600;
}

.rotatedcard {
  top: 0px;
  position: absolute;
  left: -20px;
  height: 399px;
  width: 549px;
  transform: rotate(30deg);
  background: rgb(255, 255, 255);
  top: -90px;
  overflow: hidden;
}

.eventBottom {
  font-family: "Dancing Script", cursive;
  color: #dfbb75;
  font-weight: 800;
  position: absolute;


  bottom: 0px;
  padding: 20px;
}













.proDetailsx {
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventHeaders {
  font-family: 'comfortaa', cursive !important;
}

.teamContainer {
  position: relative;
}

.proName {
  font-family: "Dancing Script", cursive;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.eventHeaders {
  font-family: "Dancing Script", cursive;
  color: #f5a200;
  margin-bottom: 10px;
}

.mhomepageimg {
  display: none;
}

.eventDetailsx {
  padding: 10px;
  font-size: 100%;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 650px) {
  .nav {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: center;
  }

  .navoption {
    width: 100vw;
    margin-bottom: 2px;
    margin-right: 0px;
    border-radius: 0px;
  }

  .yen {
    font-size: 300%;
  }

  .welcome {
    font-size: 200%;
    margin-top: 0px;
  }

  .homeimg {
    width: 450px !important;
    height: 340px !important;
  }

  .homepageimg {
    display: none;
  }

  .mhomepageimg {
    display: block;
    opacity: 0.2;


  }

  .quate {
    line-height: 66px;
    font-size: 310%;
    margin-top: -100px;
    text-align: center;
  }

  .legacy {
    font-size: 126%;
  }

  .yenx {
    font-size: 281%;
    margin-bottom: 0px;
  }

  .pronitecard {
    width: 320px;
  }

  .proimg {
    width: 88vw;
    height: 37vh;
    object-fit: cover;
    margin-top: -10px;
  }

  .pcontainer {
    flex-direction: column;
    overflow: hidden;
  }

  .slick-slide img {
    width: 300px !important;
    height: auto;
    text-align: center;
    left: 50% !important;
    height: 500px;
    margin-left: 50%;
    transform: translate(-50%, -50%) !important;
  }

  .yenepoya {
    font-size: 200%;
    text-align: left;
  }

  .pronitecard1 {
    width: 93vw;
    margin: auto;
    margin-bottom: 20px;
  }

  .pronitecard2 {
    width: 93vw;
    margin: auto;
    margin-bottom: 20px;
  }

  .pronitecard3 {
    width: 93vw;
    margin: auto;
    margin-bottom: 20px;
  }

  .imgContainer {
    overflow: scroll;
  }

  .galImg {
    /* height: auto; */
    width: 94vw;
    object-fit: cover;
  }

  .abtuslogo {
    width: 100vw;
    height: auto;
  }

  .aboutYen {
    padding: 0px;
  }

  .homepage {
    flex-wrap: wrap;
  }

  .dow {
    font-size: 80%;
  }

  @keyframes download {
    0% {
      padding: 10px 25px;
      font-size: 100%;
      background: #6f42c1;
    }

    50% {
      padding: 11px 30px;
      font-size: 110%;
      background: #6529d5;
    }

    100% {
      padding: 10px 25px;
      font-size: 100%;
      background: #6f42c1;
    }
  }

  .plant {
    bottom: -218px;
  }

  .pronitecard1:hover {
    box-shadow: -2px 4px 43px -5px #100a78;
    transform: scale(1.0);
    margin: auto;
  }

  .pronitecard2:hover {
    box-shadow: -2px 4px 43px -5px #100a78;
    transform: scale(1.0);
    margin: auto;
  }

  .pronitecard3:hover {
    box-shadow: -2px 4px 43px -5px #100a78;
    transform: scale(1.0);
    margin: auto;
  }

  .prodesc {
    font-size: 100%;
  }

  .subaddress {
    font-size: 100%;
    margin: 2px;
  }

  .pronightHeader {
    font-size: 240%;
  }

  .ab1 {
    padding: 40px;
    font-size: 100%;
  }

  .info {
    font-size: 100%;
    line-height: 23px;
    padding: 10px;
  }

  .container {
    padding: 10px;
  }

  .eventCard {
    width: 350px;
  }

  .eventContainerx {
    padding: 0px;
  }

  .eventImage {
    height: 440px !important;
  }

  .copyright {
    font-size: 80%;
    padding: 5px;
  }

  .pronightHeader {
    margin-top: -82px;
  }

  .wcontainer {
    padding: 7px;
    padding-bottom: 20px;
    padding-top: 20px;
  }


  .proimg:hover {

    transform: scale(1.0);
  }




}




/* styling for footer */

.fcontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 0px 20px;
  font-family: var(--font-mono);
  background: #09064c;
  font-family: 'Montserrat', sans-serif;
}

.yenepoya {
  font-size: 300%;
  color: #ffc147;
  text-align: center;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.subaddress {
  color: rgb(222, 222, 222);
  font-size: 120%;
  font-weight: 400;
  opacity: 0.9;
  margin: 5px;
  letter-spacing: 1px;
}

.copyright {
  color: white;
  background: #02002b;
  font-size: 120%;
  width: 100vw;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px 10px;
  margin-top: 20px;

}

@media screen and (width<768px) {
  .fcontainer {
    padding: 10px 5px 0px 5px;
  }

  .yenepoya {
    display: flex;
    flex-direction: column;
  }

  .yenepoya span:nth-child(1) {
    font-size: 10vw;
  }

  .yenepoya span:nth-child(2) {
    font-size: 4vw;
  }


  .subaddress,
  .copyright {
    font-size: 3vw;
  }
}


/* styling for footer ends */



/* event page styling */
.infoContainer {

  position: relative;
  padding: 10px 10px;
  padding-top: 70px;
  background: #09064c;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}

.eventDesc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.eventLeft,
.eventRight {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.eventLeft {
  display: flex;
  flex-direction: column;
}

.schedule {
  display: flex;
  padding: 1rem;
  gap: 2rem;
}

.eventSImg {
  width: 100%;
  height: auto
}

.eventName {
  color: #ffc656;
  text-align: center;
  font-size: 300%;
  font-weight: 800;
  letter-spacing: 5px;
  margin-bottom: 20px;
  font-family: 'Salsa', cursive;
  margin-bottom: 20px;
}

.aliasName {
  display: block;
  font-size: 50%;
}

.sd {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.eventPage {
  height: 500px;
  background-image: linear-gradient(45deg, rgb(11, 23, 80), rgb(41, 46, 140), rgb(17, 17, 88));
}

/* event page styling ends */